<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if current_user.admin? || current_user?(@user) %> 
      <h3> <%= link_to "CATEGORIES", categories_path %> </h3>
      <h3> FAVORITE [<%= @favorites.count %>]</h3>
      <ol class="favorites">
        <%= render @favorites %>
      </ol>
      <% will_paginate @favorites %>
    <% end %>
  </div>
</div>
