<% provide(:title, @category.name) %>
<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <% if @categories %>
      <h4><%= @category.name.upcase %> [<%= @category.subcategories.count %>|<%= @category.nested_notes_count %>]</h4>
      <ul class="categories">
        <%= render @categories%>
      </ul>
      <%= will_paginate @categories %>
      <%= link_to "Add category", categories_new_path, class: "btn btn-lg btn-primary" %>
    <% elsif @notes.any? %>
      <h4><%= @category.name.upcase %> [<%= @notes.count %>]</h4>
      <ul class="list-unstyled">
        <%= render @notes%>
      </ul>
      <%= will_paginate @notes %>
      <%= link_to "Add note", notes_new_path, class: "btn btn-lg btn-primary" %>
    <% else %>
      <h4><%= @category.name.upcase %> [0|0]</h4>
      <%= link_to "Add category", categories_new_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Add note", notes_new_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
